{{! Main page: }}
<html>

  {{! Header }}
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Tech Blog</title>
    {{! Imports: }}
    {{! CSS: }}
    {{! Bootstrap: }}
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
    />

    {{! Overlay scrollbar - hides native scrollbars }}
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/overlayscrollbars/1.9.1/css/OverlayScrollbars.min.css"
    />

    {{! Googlefonts : Roboto }}
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap"
      rel="stylesheet"
    />
    {{! Bulma }}
    <link
      rel="stylesheet"
      href="https://unpkg.com/bulma@0.9.3/css/bulma.min.css"
    />
  </head>

  {{! Body }}
  <body>
    {{{body}}}
  </body>

  {{! Jquery: }}
  <script
    src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"
  ></script>

</html>